html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  margin: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
}

.monthName {
  font-weight: bold;
}

.month {
  padding-bottom: 1rem;
}

.date {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  transition: background 1000ms linear;
}

.weekend {
  background: aqua;
}

.bankHoliday {
  background: coral;
}

.annualLeave {
  background: lightgreen;
}
